<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/3e4f3f39b8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen">
    <title>Bug Tracker</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="fragments/header :: header">
            </div>
        </div>
        <div class="col-md-8" style="margin-top: 55px">
            <form th:action="@{@{|~/${#authentication.name}/save|}}" th:object="${userUpdate}" method="post">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:text="#{user.hasErrors}">Error Message</p>
                </div>
                <h1>User Profile</h1>
                <div class="form-group row">
                    <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{firstName}" th:value="${user.firstName}"
                               th:placeholder="${user.firstName}" readonly class="form-control-plaintext"
                               id="firstName">
                    </div>
                    <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{lastName}" th:placeholder="${user.lastName}" readonly
                               class="form-control-plaintext" id="lastName" value="Sykora">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
                    <div class="col-sm-3">
                        <div th:if="${user.phoneNumber == null}">
                            <input type="text" th:field="*{phoneNumber}" th:placeholder="${user.phoneNumber}"
                                   id="phoneNumber">
                            <span class="help-block" th:if="${#fields.hasErrors('phoneNumber')}">
                    <ul class="alert alert-danger">
                        <li th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}"></li>
                    </ul>
                        </span>
                        </div>
                        <div th:if="${user.phoneNumber != null}">
                            <!--<label for="phoneNumber1" class="col-sm-2 col-form-label">Phone Number</label>-->
                            <input type="text" th:field="*{phoneNumber}" th:placeholder="${user.phoneNumber}"
                                   id="phoneNumber1" readonly class="form-control-plaintext">
                            </span>
                        </div>


                    </div>
                    <label for="birthDate" class="col-sm-2 col-form-label">Date of Birth</label>
                    <div class="col-sm-3">
                        <div th:if="${user.birthDate == null}">
                            <input type="date" id="birthDate" th:field="*{birthDate}">
                        </div>
                        <div th:if="${user.birthDate != null}">
                            <input type="text" id="birthDate1" th:field="${user.birthDate}" readonly
                                   class="form-control-plaintext">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-3">
                        <input type="text" th:placeholder="${user.email}" readonly class="form-control-plaintext"
                               id="staticEmail">
                    </div>
                </div>
                <div class="row">
                    <a th:href="@{/edit/password}" class="btn btn-secondary">Change password<br></a>
                </div>

                <div class="row">
                    <button class="btn btn-primary">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>