<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:word-wrap="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen">
    <title>List of projects</title>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>

<div class="container">
    <table class="table table-striped" style="margin-top: 25px">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Project Name</th>
                <th>Project Status</th>
                <th style="width: 150px;">Project Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr th:each="project : ${projects}">
            <td th:text="${project.id}"></td>
            <td th:text="${project.name}"></td>
            <td th:text="${project.status}"></td>
            <td th:text="${project.description}" word-wrap: break-word></td>
            <td>
                <a th:href="@{/modify/project/{projectId}(projectId=${project.id})}" class="btn btn-secondary">Modify</a>
                <a th:href="@{/list-of-project-bugs/{projectId}(projectId=${project.id})}" class="btn btn-secondary">Review Bugs</a>
                <a th:href="@{/add-new-bug/{projectId}(projectId=${project.id})}" class="btn btn-lg btn-primary btn-block">+Add Bug</a>
            </td>
        </tr>

    </table>

</div>
</body>
</html>