<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/3e4f3f39b8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen">
    <title>Bug Tracker</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="fragments/header :: header">
            </div >
        </div>
        <div class="col-md-8" style="margin-top: 55px">
            <h1>Employee details</h1>
            <table id="myTable" class="display" cellspacing="0" width="100%">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date Of birth</th>
                    <th>Phone number</th>
                    <th>Email_Id</th>
                    <th>Role</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}">1</td>
                    <td th:text="${user.firstName} +' '+ ${user.lastName}">Matus Sykora</td>
                    <td th:text="${user.birthDate}?: '-'">26-02-1993</td>
                    <td th:text="${user.phoneNumber} ?: '-'">+421980134876</td>
                    <td th:text="${user.email}">matusino.sykora@ibm.com</td>
                    <td>
				<span th:each="role,iterStat : ${user.roles}">
					<span th:text="${role.role}"/><th:block th:if="${!iterStat.last}">,</th:block>
				</span>
                    </td>
                    <td>
                        <a th:href="@{/deleteUser/{userId}(userId=${user.id})}" class="button">Remove</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
     $(document).ready(function(){
        $('#myTable').DataTable();
    });
</script>
</body>
</html>